html{
    background-image: url(../src/img/treeBackground.jpg);
    background-repeat: no-repeat;
  
    height: 100vh;
    width: 100vw;  
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{ 
    padding: 0;
    margin: 0;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

.main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.results{
    height: 300px;
    width: 200px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

#tempC{
    font-size: 36px;
}

.switch {
    margin: 20px 15px 15px 15px;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2;
  }
  

  

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .celcFaraSwitch{
    display: flex;
    justify-content: center;
    width: 200px;
  }

  #forecastResults{
    display: flex;
    justify-content: center;
    height: 130px;
    width: 400px;
  }

  .fResultItem{
    height: 130px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }